<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="main">
        <h3 v-if="!isLoggedIn">
            Registro e Iniciar sesión
        </h3>

        <!-- Formulario  -->
        <form v-if="!isLoggedIn" @submit.prevent="registerAndLogin">
            <fieldset>
                <label for="nombreLogin">Nombre:</label>
                <input type="text" v-model="loginData.nombre" placeholder="Escribe tu nombre" id="nombreLogin" required>
            </fieldset>
            <fieldset>
                <label for="email">Correo Electrónico:</label>
                <input type="email" v-model="loginData.email" placeholder="Escribe tu correo" id="email" required>
            </fieldset>
            <fieldset>
                <label for="password">Contraseña:</label>
                <input type="password" v-model="loginData.password" placeholder="Escribe tu contraseña" id="password" required>
            </fieldset>
            <button type="submit">Registrarse e Iniciar Sesión</button>
            <p v-if="errorMessage" style="color: red;">{{ errorMessage }}</p> 
        </form>

        <div v-if="isLoggedIn">
            <h3>Bienvenido, {{ sessionData.nombre }}!</h3>
            <button @click="logout">Cerrar sesión</button>
            <button @click="toggleTable">Tabla</button>

            <hr>

            <!-- Tabla  -->
            <table v-if="showTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in storedUsers" :key="user.nombre">
                        <td>{{ index + 1 }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="action-btns">
                                <button class="edit-btn" @click="editUser(index)">Editar</button>
                                <button class="delete-btn" @click="deleteUser(index)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp, ref, onMounted } = Vue
    
      createApp({
        setup() {
          const loginData = ref({ nombre: '', email: '', password: '' });
          const sessionData = ref({});
          const storedUsers = ref([]); 
          const isLoggedIn = ref(false);
          const errorMessage = ref(''); 
          const showTable = ref(false); 
          const showAddUserForm = ref(false); 

          // REGISTRO E INICIO SESION
          const registerAndLogin = () => {
            const newUserData = {
              nombre: loginData.value.nombre,
              email: loginData.value.email,
              password: loginData.value.password
            };

            const users = JSON.parse(localStorage.getItem('users')) || [];

            const userExists = users.some(user => user.nombre === newUserData.nombre);
            if (userExists) {
              errorMessage.value = 'El usuario ya existe con el mismo nombre.';
              return;
            }

            users.push(newUserData);
            localStorage.setItem('users', JSON.stringify(users));

            // INICIAR SESION
            sessionStorage.setItem('user', JSON.stringify(newUserData));
            sessionData.value = newUserData;
            isLoggedIn.value = true;

            storedUsers.value = users;
            errorMessage.value = '';
          }

          // LOGOUT
          const logout = () => {
            sessionStorage.removeItem('user');
            sessionData.value = {};
            isLoggedIn.value = false;
            showTable.value = false; 
          }

          const toggleTable = () => {
            showTable.value = !showTable.value;
          }

          const checkSession = () => {
            const storedUser = sessionStorage.getItem('user');
            if (storedUser) {
              sessionData.value = JSON.parse(storedUser);
              isLoggedIn.value = true;
            }
          }

          const loadStoredUsers = () => {
            const users = JSON.parse(localStorage.getItem('users')) || [];
            storedUsers.value = users;
          }

          //ELIMINAR USUARIO
          const deleteUser = (index) => {
            const users = JSON.parse(localStorage.getItem('users')) || [];
            users.splice(0, 1);
            localStorage.setItem('users', JSON.stringify(users)); 
            loadStoredUsers();
          }

          onMounted(() => {
            checkSession();       
            loadStoredUsers();      
          });

          return {
            loginData,
            sessionData,
            storedUsers,
            isLoggedIn,
            errorMessage,
            showTable,
            showAddUserForm,
            registerAndLogin,
            logout,
            toggleTable,
            deleteUser,
          };
        }
      }).mount('#main')
    </script>
</body>
</html>















