body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h3 {
    margin-bottom: 20px;
    color: #333;
}
hr {
    margin: 20px 0;
}
button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
fieldset {
    border: none;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
h4 {
    margin-bottom: 10px;
    color: #333;
}
p {
    font-size: 16px;
    color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}


.action-btns {
    display: flex;
    gap: 10px;
}
.edit-btn {
    background-color: #f0ad4e;
}
.delete-btn {
    background-color: #d9534f;
}
.edit-btn:hover {
    background-color: #ec971f;
}
.delete-btn:hover {
    background-color: #c9302c;
}

